{% extends 'board_game/base.html' %}
{% load static %}
{% block content %}

  {% if game.image.filename %}
  <img
    src="{{ MEDIA_URL }}{{ game.image }}"
    alt="{{ game.image.filename }}"
    width="300px"
    height="auto" />
  {% else %}
  <img src="{% static 'default_game_image.jpg' %}"
    alt="no image"
    width="300px"
    height="auto" />
  {% endif %}
  <p>Game: {{ game }}</p>
  <p>description: {{  game.description  }}</p>
  <p>Average score: {{ game.average_score }}</p>
  <p>Status: {{ game.get_status_display }} </p>

  {% if game.status == "o" %}
    <p>Loaned by: {{game.borrower}}</p>
    {% if game.borrower == request.user %}
      <form action="{% url 'board_game:game' game.id %}" method='post'>
        {% csrf_token %}
        <button name='submit'>Return the game</button>
      </form>
    {% endif %}
  {% elif game.status == "a" %}
    <form action="{% url 'board_game:game' game.id %}" method='post'>
      {% csrf_token %}
      <button name='submit'>Loan the game</button>
    </form>
  {% endif %}


  <p>Reviews:</p>
  <p>
    <a href="{% url 'board_game:new_review' game.id %}">Add a new review</a>
  </p>
  <ul>
    {% for review in reviews %}
      <li>
        <p>{{ review.date_added|date:'M d, Y H:i' }}</p>
        <p>Score: {{ review.score }}/10</p>
        <p>{{ review.text|linebreaks }}</p>
        <p>
          <a href="{% url 'board_game:edit_review' review.id %}">Edit review</a>
        </p>
      </li>
  {% empty %}
      <li>There are no reviews for this game yet.</li>
  {% endfor %}
  </ul>

  {% endblock content %}
