{% extends 'board_game/base.html' %}
{% load static %}
{% block content %}

  {% if game.image.filename %}
  <img
    src="{{ MEDIA_URL }}{{ game.image }}"
    alt="{{ game.image.filename }}"
    width="300px"
    height="auto" />
  {% else %}
  <img src="{% static 'default_game_image.jpg' %}"
    alt="no image"
    width="300px"
    height="auto" />
  {% endif %}
  <h3>{{ game }}</h3>
  <p>description: {{  game.description  }}</p>
  <p>Average score: {{ game.average_score }}</p>
  <p>Status: {{ game.get_status_display }} </p>
  {% if game.owner == request.user %}
    <a href="{% url 'board_game:edit_game' game.id %}" class="btn btn-sm btn-primary">Edit game</a>
    <br>
  {% endif %}



  {% if game.status == "o" %}
    <p>Loaned by: {{game.borrower}}</p>
    {% if game.borrower == request.user %}
      <form action="{% url 'board_game:game' game.id %}" method='post'>
        {% csrf_token %}
        <button name='submit' class="btn btn-md btn-primary">Return the game</button>
      </form>
    {% endif %}
  {% elif game.status == "a" %}
    <form action="{% url 'board_game:game' game.id %}" method='post'>
      {% csrf_token %}
      <button class="btn btn-md btn-primary" name='submit' role="button">Loan the game</button>
    </form>
  {% endif %}
  <br>


  <p>Reviews:</p>
  <a class="btn btn-sm btn-primary" href="{% url 'board_game:new_review' game.id %}"
    role="button">Add a new review</a>
  {% for review in reviews %}
    <div class="card mb-3">
      <h4 class="card-header">
        {{ review.date_added|date:'M d, Y H:i' }}
        Score: {{ review.score }}/10
        <small><a href="{% url 'board_game:edit_review' review.id %}">Edit review</a></small>
        </h4>
      <div class="card-body">
        {{ review.text|linebreaks }}
      </div>
    </div>


  {% empty %}
      <p>There are no reviews for this game yet.</p>
  {% endfor %}

  {% endblock content %}
